---
---

@import "{{ site.theme }}";
<style type="text/css" media="all">
body {font-family: 'Droid Sans', helvetica,Arial,sans-serif;}
a:link, a:visited, a:active {text-decoration:none}
div.container{width:80%; margin:2%; line-height:140%;}
div.right{float:right;width:200px; margin:1em; padding:1em;}
div.content{margin-left:4%; padding:1em;}
</style>
