<!doctype html>
<html>
  <head>
    
    <style type="text/css" media="all">
body {font-family: 'Droid Sans', helvetica,Arial,sans-serif;}
a:link, a:visited, a:active {text-decoration:none}
div.container{width:80%; margin:2%; line-height:140%;}
div.right{float:right;width:200px; margin:1em; padding:1em;}
div.content{margin-left:4%; padding:1em;}
</style>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Learning Discrete Latent Structure</title>

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
  <div>

      {{ content }}

    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
  </div>
  </body>
</html>
