<!doctype html>
<html>
  <head>
    
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href={{ '/assets/css/github-markdown.css' | relative_url }}>
<style>
	.markdown-body {
		box-sizing: border-box;
		min-width: 200px;
		margin: 0 auto;
		padding: 45px;
	}
</style>

    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Learning Discrete Latent Structure</title>

  </head>
  <body>
<article class="markdown-body">

      {{ content }}

</article>
  </body>
</html>
